








:root {
    --primary-color: #2c3e50; /* Navbar */
    --secondary-color: #e74c3c; /* Boutons */
    --bg-color: #f8f9fa; /* Fond */
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    margin: 0;
}

nav {
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}
